*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
  height: 70px;
  background: rgb(49, 49, 49);
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  font-weight: bold;

}

body{
    background-image: url('img/fundo-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.site-inteiro{
  width: 100%;
  margin: 0 auto;
}

.titulo{
    transition: all 1s ease;
}

.titulo:hover{
    color: black;
    cursor: pointer;
}

.menu{
    color: #ffffff;
}

.menu ul{
    margin: 0;
    padding: 10px;
    background: black;
    text-align: left;
}

.menu ul li{
    display: inline;
    list-style: none;
    margin-left: 270px;
margin-bottom: 10px;
}