@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,600&family=Oswald:wght@300;400&display=swap');

.navbar-brand{
    font-style: italic;
}

.bg-gradient-danger{
    color: black;   
    transition: color 0.5s ease;
}

.bg-gradient-danger:hover{
    color: white;
}

.navbar-nav .nav-link.active.home{
    color: white;
  }

.navbar-nav .nav-link.dropdown-toggle.mais{
    color: black;
}

.QuemSomos{
    font-family: 'Oswald', sans-serif;
}
