@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,300&family=Lora:ital,wght@0,400;0,500;0,600;1,600&family=Nunito:wght@200&family=Open+Sans:wght@300&family=Oswald:wght@300;400&family=Rajdhani:wght@300&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.barbeariaHeader {
    font-family: 'Roboto, Arial, sans-serif';
    color: white;
    margin-top: 5px;
    text-decoration: none;
}

.barbeariaHeader:hover {
  color: white;
}

.bg-dark {
    background-color: #000000c5 !important;
}

.bg-gradient-danger {
    color: rgb(89, 178, 255);
    transition: color 0.5s ease;
    font-family: 'Roboto, Arial, sans-serif';
}

.bg-gradient-danger:hover {
    color: white;
}

.container-fluid .navbar-brand {
    font-family: 'Oswald', sans-serif;
    color: white;
}

.imagemInicio {
    width: 100%;
    height: 100vmin;
}

.iconesMenu li {
    display: inline-block;
    margin-top: 5%;
}

.iconeWhatsappMenu {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.iconeInstagramMenu {
    width: 25px;
    height: 25px;
    margin-left: 13%;
    object-fit: cover;
}

.iconeFacebookMenu {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.espacamentoQuemSomos {
    margin-top: 3%;
}

.imgQuemSomos {
    object-fit: cover;
    height: auto;
    width: 30%;
    left: 10%;
    position: absolute;
}

.quemSomos {
    font-family: 'Oswald', sans-serif;
    font-size: 6.5vw;
    position: absolute;
    left: 53%;
    color: black;
}

.logo{
  margin-left: 14.5%;
  object-fit: cover;
  height: auto;
  width: 60%;
  position: absolute;
}

@media screen and (min-width: 265px) and (max-width: 370px) {
  .logo {
    display: none;
  }
}

.textoQuemSomos {
    font-family: 'Nunito', sans-serif;
    position: absolute;
    left: 51.5%;
    margin-top: 17%;
    color: black;
    font-size: 1vw;
}


@media screen and (min-width: 265px) and (max-width: 340px) {
    .textoQuemSomos {
      font-size: 6px;
      right: 5%;
    }
  }

@media screen and (min-width: 340px) and (max-width: 435px) {
    .textoQuemSomos {
      font-size: 7px;
      right: 6%;
    }
  }

  @media screen and (min-width: 435px) and (max-width: 600px) {
    .textoQuemSomos {
      font-size: 8px;
      right: 3%;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 1400px) {
    .textoQuemSomos {
   font-size: 1.5vw;
   right: 8%;
}
  }

.nomeBarbeiro {
    position: absolute;
    left: 10.5%;
    margin-top: 45%;
    color: black;
    font-size: 0.8vw;
    font-family: 'Nunito', sans-serif;
}

@media screen and (min-width: 265px) and (max-width: 340px) {
    .nomeBarbeiro {
      font-size: 5px;
    }
  }

@media screen and (min-width: 340px) and (max-width: 435px) {
    .nomeBarbeiro {
      font-size: 6px;
    }
  }

  @media screen and (min-width: 435px) and (max-width: 600px) {
    .nomeBarbeiro {
      font-size: 8px;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 1400px) {
    .nomeBarbeiro {
   font-size: 1.2vw;
}
  }



.textoBarbearia {
    position: absolute;
    left: 10.5%;
    margin-top: 50.5%;
    color: black;
    font-size: 1vw;
    font-family: 'Nunito', sans-serif;
}

@media screen and (min-width: 265px) and (max-width: 340px) {
    .textoBarbearia {
      font-size: 6px;
    }
  }

@media screen and (min-width: 340px) and (max-width: 435px) {
    .textoBarbearia {
      font-size: 6px;
    }
  }

  @media screen and (min-width: 435px) and (max-width: 600px) {
    .textoBarbearia {
      font-size: 7.5px;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 1400px) {
    .textoBarbearia {
   font-size: 1.3vw;
}
  }



.textoBarbearia2 {
    position: absolute;
    left: 10.5%;
    margin-top: 64.5%;
    color: black;
    font-size: 0.8vw;
    font-family: 'Nunito', sans-serif;
}

@media screen and (min-width: 265px) and (max-width: 340px) {
    .textoBarbearia2 {
      display: none;
    }
  }

@media screen and (min-width: 340px) and (max-width: 600px) {
    .textoBarbearia2 {
    display: none;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 1400px) {
    .textoBarbearia2 {
   font-size: 1.2vw;
}
  }


.imgServicos {
    object-fit: cover;
    height: auto;
    width: 100%;
    position: absolute;
    margin-top: 66%;
}

.servicos {
    font-family: 'Oswald', sans-serif;
    font-size: 6.5vw;
    position: absolute;
    left: 38%;
    margin-top: 69%;
    color: white;
}

.corteMasculino {
    left: 15%;
    margin-top: 88%;
    position: absolute;
    color: white;
    font-size: 1.5vw;
    font-family: 'Lora', sans-serif;
    display: inline-block;
}

.corteMasculino:before {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 595%;
    height: 0.1px;
    background-color: white;
}


.precoCorteMasculino {
    left: 80%;
    margin-top: 88%;
    position: absolute;
    color: white;
    font-size: 1.5vw;
    font-family: 'Lora', sans-serif;
    display: inline-block;
}

.barbaBigode {
    left: 15%;
    margin-top: 94.5%;
    position: absolute;
    color: white;
    font-size: 1.5vw;
    font-family: 'Lora', sans-serif;
    display: inline-block;
}

.barbaBigode:before {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 648%;
    height: 0.1px;
    background-color: white;
}

.precoBarbaBigode {
    left: 80%;
    margin-top: 94.5%;
    position: absolute;
    color: white;
    font-size: 1.5vw;
    font-family: 'Lora', sans-serif;
    display: inline-block;

}

.comboCorteBB {
    left: 15%;
    margin-top: 101%;
    position: absolute;
    color: white;
    font-size: 1.5vw;
    font-family: 'Lora', sans-serif;
    display: inline-block;
}

.precoComboCorteBB {
    left: 80%;
    margin-top: 101%;
    position: absolute;
    color: white;
    font-size: 1.5vw;
    font-family: 'Lora', sans-serif;
    display: inline-block;
}

.comboCorteBB:before {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 233%;
    height: 0.1px;
    background-color: white;
}

.sobrancelha {
    left: 15%;
    margin-top: 107.5%;
    position: absolute;
    color: white;
    font-size: 1.5vw;
    font-family: 'Lora', sans-serif;
    display: inline-block;
}

.precoSobrancelha {
    left: 80%;
    margin-top: 107.5%;
    position: absolute;
    color: white;
    font-size: 1.5vw;
    font-family: 'Lora', sans-serif;
    display: inline-block;
}

.sobrancelha:before {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 798%;
    height: 0.1px;
    background-color: white;
}

.outrosServicos {
    left: 15%;
    margin-top: 114%;
    position: absolute;
    color: white;
    font-size: 1.5vw;
    font-family: 'Lora', sans-serif;
    display: inline-block;
}

.cliqueAqui {
    left: 75.8%;
    margin-top: 114%;
    position: absolute;
    color: white;
    font-size: 1.5vw;
    font-family: 'Lora', sans-serif;
    display: inline-block;
    cursor: pointer;
}

.cliqueAqui:hover {
    color: white;
}

.outrosServicos:before {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 617%;
    height: 0.1px;
    background-color: white;
}

.galeria {
    font-family: 'Oswald', sans-serif;
    font-size: 6.5vw;
    position: absolute;
    left: 39.8%;
    margin-top: 126.5%;
    color: black;
}

.imagensGaleriaUm {
    margin: 0 5.2%;
    margin-top: 140%;
    object-fit: cover;
    height: auto;
    width: 90%;
    display: flex;
    justify-content: center;
}

.imagensGaleriaDois {
    margin: 0 5.2%;
    object-fit: cover;
    height: auto;
    width: 90%;
    display: flex;
    justify-content: center;
}

.imagensGaleriaUm .col-3 {
    padding-right: 0.3%;
    padding-left: 0.3%;
}

.imagensGaleriaDois .col-3 {
    padding-right: 0.3%;
    padding-left: 0.3%;
    padding-top: 0.6%;
}

.image-container {
    position: relative;
}

.image-text {
    font-family: 'Roboto, Arial, sans-serif';
    font-size: 1vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.5s;
}

.image-container:hover .image-text {
    visibility: visible;
    opacity: 1;
}

.imagemContato {
    background-image: url('./img/imgContato.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 55vh;
    margin-top: 5%;
}

@media screen and (min-width: 600px) and (max-width: 2500px) {
  .imagemContato {
 height: 78vh;
  }
}

@media screen and (min-width: 2500px) and (max-width: 5000px) {
  .imagemContato {
 height: 100vh;
  }
}

.contato {
    font-family: 'Oswald', sans-serif;
    font-size: 6.5vw;
    position: absolute;
    color: white;
    margin-top: 2%;
    left: 39%;
}

.containerContato {
    border-radius: 0;
    width: 50%;
    position: absolute;
    flex-direction: column;
    display: flex;
    margin: 0 25.4%;
    padding-top: 22%;
}

.localizacao {
    font-family: 'Oswald', sans-serif;
    font-size: 6.5vw;
    position: absolute;
    left: 32.5%;
    color: black;
}

.maps {
    width: 50%;
    height: 40vw;
     margin: 12% auto 0;
     display: block;
}

.footer {
    background-color: #000000d7;
    margin-top: 3%;
    width: 100%;
    height: 25vmin;
}

@media screen and (min-width: 0px) and (max-width: 305px) {
    .footer {
   height: 50vmin;
    }
  }

@media screen and (min-width: 305px) and (max-width: 350px) {
    .footer {
      height: 35vmin;
    }
  }

  @media screen and (min-width: 350px) and (max-width: 500px) {
    .footer {
      height: 30vmin;
    }
  }

.textoFooter {
    color: white;
    text-align: center;
    padding-top: 1%;
    font-family: 'Oswald', sans-serif;
}

.icones {
    text-align: center;
    margin-top: 1%;
}

.textoFooter2 {
    color: white;
    margin-top: 3%;
    text-align: center;
    font-size: 10px;
    font-family: 'Roboto, Arial, sans-serif';
}

@media screen and (min-width: 305px) and (max-width: 350px) {
    .textoFooter2 {
      font-size: 10px;
    }
  }

.iconeWhatsapp {
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin-top: 1%;
    margin-right: 0.5%;
}

.iconeInstagram {
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin-top: 1%;
}

.iconeFacebook {
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin-top: 1%;
    margin-left: 0.1%;
}

